* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.info-toggle-container {
    width: 250px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    /* padding: 20px */
}

.info-toggle {
    display: flex;
    background: none;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    z-index: 980;
    
}



.toggle-container {
    z-index: 984;
display: flex;
width: 200px;
justify-content: space-between;
align-items: center;
}

.page-toggle:hover {
    cursor: pointer;
}

.info-toggle p {
    font-weight: 600;
}

.fill-bar-container {
    display: flex;
    width: 250px;
    height: 40px;
    position: absolute;
    justify-content: flex-start;
    z-index: 1;
   
}


#expand-planet-btn:hover {
    cursor: pointer;
    z-index: 970;
}

.btn-primary {
    display: block;
  background-color: rgb(0, 208, 38);
  text-decoration: none;
  border: none;
  border-bottom: 3px solid rgb(0, 167, 31);
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
  width: 150px;
  margin-top: 10px;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: rgb(0, 246, 45);
}


.fill-bar {
    width: 50%;
    background: linear-gradient(rgb(0, 125, 228), rgb(112, 207, 255));
    border-radius: 25px;
    transform: translateY(-1px);
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 1, 40);
    /* background: black; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Montserrat';
}

p {
    font-family: 'Montserrat';
}

h1 {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

h2 {
    margin: 5px 0px;
}
h4 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    opacity: 75%;
}

.full-width {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: rgba(0, 0, 0, 0.90);
    top: 0;
    left: 0;
}

header {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 22;
    padding: 15px;
}

nav {
    display: flex;
    color: white;
    justify-content: center;
}

nav li {
    margin-left: 50px;
    list-style-type: none;
    margin-bottom: 8px;
    font-weight: 500;
}

.expand-btn {
    width: 12px;
    height: 7px;
    margin-left: 5px;
    transform: translateY(-3px);
}

nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* .hidden-objects {
    display: none;
} */

.objects-menu-container {
    height: 20px; 
    overflow: hidden;
    transition: 0.5s;
}

.objects-menu-container:hover {
    height: 150px
}

/* #moon-menu {
    display: none;
} */

.earth-menu-container {
    height: 20px;
    overflow: hidden;
    transition: .5s;
}


.earth-menu-container:hover {
    height: 50px;
}

.earth-menu-container:hover ~ .expand-btn {
    transform: rotate(180deg);
}

.explorers-menu-container {
    display: none;
}

.planet-modal {
    width: 90vw;
    height: 95vh;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 50px 0px 50px;
    z-index: 55;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    transition: 0.4s;
}

.close-btn p{
    font-size: 40px;
    font-weight: 500;
}

.close-btn:hover {
    cursor: pointer;
    transform: rotate(180deg);
}



.top-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flex-row {
    display: flex;
    align-items: center;
    height: 100%;
}

.planet-image-container {
    width: 50%;
    height: 100%;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* position: absolute; */
    /* background-color: black; */
    /* background-image: url("./assets/black-bg.png"); */
    /* background-image: url("./assets/purple-bg.png"); */
    background-size: cover;
    /* left: 0;
    top: 0; */
    z-index: 93;
    position: relative;
    overflow: hidden;
}

#planet-expand-close-btn  {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 140;

}

#planet-close-btn {
    font-size: 40px;
    font-weight: 500;
    color: white;
    transition: 0.4s;
}

#planet-close-btn:hover {
    cursor: pointer;
    transform: rotate(180deg);
}



#planet-image {
    height: 100%;
    width: 100%;
}

.planet-info-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* padding: 50px 0px; */
    padding-bottom: 30px;
} 

.content-overflow {
    overflow: scroll;
}

.planet-info-cont {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 25px;
} 

.planet-info-container p {
    font-family: 'montserrat';
    font-weight: 300;
    line-height: 22px;
    font-size: 1rem;
    color: rgb(236, 236, 236);

}
/* #planet-info-five {
    margin-bottom: 50px;
} */
.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-toggle {
    display: block;
    text-decoration: none;
    border: none;
    text-align: center;
    border-radius: 25px;
    padding: 5px 15px;
    overflow: hidden;
    color: white;
    
    
    border: 1px solid white;
}

#adult-toggle, #child-toggle {
    font-size: 0.9rem;
    font-weight: 500;
}

.active-page {
    background: white;
    color: black!important;
    border: 1px solid white;
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0.75px solid rgba(255, 255, 255, 0.622);
    padding: 25px
}



#sun {
   
    background: radial-gradient(circle, rgb(255, 174, 0), orange, #fde025 75%);
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
    top: 45vh;
    left: 48vw;
    z-index: 5;
    box-shadow: 0px 0px 15px 5px #fde025;
    /* display: none; */
}



.planet-trail {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    animation: trailfade 1s linear; 
    animation-iteration-count: 1
}

@keyframes trailfade {
    
    100% {
        opacity: 0%;
        width: 0.5px;
        height: 0.5px;
    }
  }



.star {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation-iteration-count: 1;

}



.star-map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.comet {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    animation: cometMoveRight 20s linear; 
    animation-iteration-count: 1;
    position: absolute;
}

.asteroid {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    animation: cometMoveLeft 4s linear; 
    animation-iteration-count: 1;
    position: absolute;
}

@keyframes cometMoveRight {
    
    100% {
        transform: translateX(190vw);
    }
  }

  @keyframes cometMoveLeft {
    
    100% {
        transform: translateX(-150vw);
        opacity: 0%
    }
  }


.content-container {
    display: flex;
    z-index: 3;
    color: white;
    width: 100%;
    height: 100%;
}

.controls-container {
    width: 250px;
    background: red;
    height: 100%;
}

.active-orbit {
    /* background: rgb(94, 201, 255); */
    background: linear-gradient(rgb(0, 125, 228), rgb(112, 207, 255))
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.orbit-controls-container {
    position: absolute;
    width: 50%;
    height: auto;
    top: 93vh;
    left: 25vw;
    z-index: 15;
    color: white;
    border: 0.25px solid rgba(255, 255, 255, 0.394);
    display: flex;
}

.orbit-control {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit-control:hover {
    cursor: pointer;
}




/* =========================== The Planets ========================== */
.rotate {
    /* background: none; */
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(-110deg);
}

.slide {
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    /* animation-name: slide;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 33px;
    width: 33px;
    /* background: none; */
    transform: translateX(-4vw) translateY(2vw);;
    z-index: 5;;
}

.planet {
    border-radius: 50%;
    z-index: 5;
    overflow: hidden;
    transform: rotate(110deg);
}

.planet:hover {
    cursor: pointer;
}

/* .planet:hover {
    box-shadow: 0px 0px 15px 5px #fde025;
} */

.shadow-rotate {
    border-radius: 50%;
}

#mercury {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-image: url("./assets/planets/mercury.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation: index 1s linear infinite; 
    
}

#mercury-slide {
    /* position: relative; */
    animation: index 1s linear infinite; 
    
}

#mercury-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.4vw 0px 0 0px #00000083;
}

.mercury-rotate {
    height:6vw;
    width: 6vw;
} 



#venus {
    width: 2vw;
    height: 2vw;
    background-image: url("./assets/planets/venus.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 41;
}

#venus-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset .4vw 0px 0 0px #00000083;
    z-index: 8
}

.venus-rotate {
    height: 12vw;
    width: 12vw;
} 



#earth {
    width: 3vw;
    height: 3vw;
    background-image: url("./assets/planets/earth.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#earth-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.6vw 0px 0 0px #00000083;
}

.earth-rotate {
    height: 20vw;
    width: 20vw;
} 


  #moon {
    width: 0.8vw;
    height: 0.8vw;
    background: white;
    position: relative;
    border-radius: 50%;
  }

  .moon-rotate {
    height: 4.2vw;
    width: 4.2vw;
    animation-duration: 5s;
    position: absolute;
  }

#mars {
    width: 2.5vw;
    height: 2.5vw;
    overflow: hidden;
    background-image: url("./assets/planets/mars.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#mars-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.5vw 0px 0 0px #00000083;
}

.bg {
    width: 100%;
    height: 100%;
    transform: translateY(5px);
    border-radius: 50%;;
}


.mars-rotate {
    height: 26vw;
    width: 26vw;

    
} 


#saturn-shadow {
    width: 7vw;
    height: 7vw;
    box-shadow: inset 3vw 0px 0 -5px #00000083;
    position: absolute;
    top: 0px;
    right: 1.5vw;
}




#saturn {
    height: 7vw;
    width: 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

#saturn img {
    width: 100%;
    height: 100%;
}

.saturn-rotate {
    height: 41vw;
    width: 41vw;
} 

.shadow-rotate {
    width: 100%;
    height: 100%;
    transform: rotate(-25deg);
}


#jupiter {
    width: 8vw;
    height: 8vw;
    background-image: url("./assets/planets/jupiter.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#jupiter-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 80px 0px 0 -45px #00000083;

}

.jupiter-rotate {
    height: 58vw;
    width: 58vw;
  
    
} 



#uranus {
    width: 7vw;
    height: 5vw;
    overflow: visible;
}

#uranus img {
    width: 100%;
    height: 100%;
}

#uranus-shadow {
    width: 5.2vw;
    height: 5.2vw;
    box-shadow: inset 2.8vw 0px 0 -17px #00000083;
    position: absolute;
    top: 0px;
    right: 0.8vw;
}

/* #uranus-shadow:hover {
    cursor: pointer;
} */

.uranus-rotate {
    height: 70vw;
    width: 70vw;
    z-index: 2
} 

#neptune {
    width: 4vw;
    height: 4vw;
    background-image: url("./assets/planets/neptune.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#neptune-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.8vw 0px 0 0px #00000083;
}

.neptune-rotate {
    height: 85vw;
    width: 85vw;
    z-index: 1
} 

.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.display-none {
    display: none;
}

.hidden {
    display: none
}










@keyframes slide {
    

    100% {
        transform: translateX(4vw) translateY(-2vw);


    }

  }

  /* @keyframse enlarge {
    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.5);
    }

    
    100% {
        transform: scale(1);
    }
  } */


  

  @keyframes rotate {
    
    /*  10% {
        transform: rotate(-10deg);
    } 

    5% {
        transform: rotate(40deg);
    } */



    
    /*40% {
        transform: rotate(70deg);
    } */
    
    100% {
        transform: rotate(250deg);
        -webkit-transform: rotate(250deg);
    }
  }

  @keyframes spin {
    
    100% {
        transform: rotate(-250deg);
        -webkit-transform: rotate(-250deg);
    }
  }

  @keyframes shadowSpin {
    
    100% {
        transform: rotate(335deg);
        -webkit-transform: rotate(335deg);
    }
  }

  @keyframes index {
    0% {
        z-index: 1
    }

    80% {
        z-index: 112
    }



    100% {

        z-index: 112

    }
  }

