* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#music {
    display: none;
}

#mobile-popup {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    background: black;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 25px;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    #mobile-popup {
        display: flex;
    }
}


.gradient-bg {
    position: relative;
    width: 100vw;
    height: 100dvh;
    z-index: 995;
}

.gradient-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 125vh;
    background: linear-gradient(to bottom, #000, #2f0078, #640082, #982100, #c94d12, #e27e40, #f4b711, #fff900);
    /* Your gradient background */
    -webkit-mask-image: url('./assets/trial-shape-1.png');
    /* Your custom shape image */
    mask-image: url('./assets/trial-shape-1.png');
    /* Your custom shape image */
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top right;
    -webkit-mask-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    transition: opacity 1s;
    color: white;
    padding: 175px 0px 0px 150px;
    overflow: hidden;
}

.gradient-mask h1 {
    font-size: 5rem;
}

.gradient-mask p {
    line-height: 1.5rem;
    max-width: 650px;
    font-size: 1.2rem;
}

.modal-move {
    transition: mask-position 5s ease-in-out;
    mask-position: 100% -1500px;
    -webkit-mask-position: 100% -1500px;
}


.rocket-modal {
    background: url("./assets/spaceship-smoke-1.png");
    position: absolute;
    width: 100vw;
    height: 125vh;
    z-index: 998;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    transition: transform 5s ease-in-out;
    opacity: 1;
    color: white;
    padding: 175px 0px 0px 150px;
    top: 0;
    left: 0;
}

.rocket-modal {
    z-index: 998;
}

.spaceship-bg {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;

}

.rocket-modal-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 998;
}

.modal-info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    transition: opacity 1s;
    color: white;
    padding: 175px 0px 0px 150px;
}

@media only screen and (max-width: 1350px) {
    .modal-info {
        padding: 100px 125px
    }

    .gradient-mask {
        padding: 100px 125px
    }
}

.modal-info h1 {
    font-size: 5rem;
}

.modal-info p {
    line-height: 1.5rem;
    max-width: 650px;
    font-size: 1.2rem;
}

.fade-animation {
    opacity: 0;
}

.takeoff-animation {
    transition: 5s ease-in-out;
    top: -1500px;
}




#mobile-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    z-index: 991;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    display: none;
}

#mobile-modal h3 {
    max-width: 600px;
    text-align: center;
}






.info-toggle-container {
    width: 250px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    /* padding: 20px */
}

.info-toggle {
    display: flex;
    background: none;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    z-index: 980;

}



.toggle-container {
    z-index: 984;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.page-toggle:hover {
    cursor: pointer;
}

.info-toggle p {
    font-weight: 600;
}

.fill-bar-container {
    display: flex;
    width: 250px;
    height: 40px;
    position: absolute;
    justify-content: flex-start;
    z-index: 1;

}


#expand-planet-btn:hover {
    cursor: pointer;
    z-index: 970;
}

button {
    cursor: pointer;
}

.btn-primary {
    display: block;
    background-color: rgb(0, 208, 38);
    text-decoration: none;
    border: none;
    border-bottom: 3px solid rgb(0, 167, 31);
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    overflow: hidden;
    min-width: 175px;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: rgb(0, 246, 45);
}


.fill-bar {
    width: 50%;
    background: linear-gradient(rgb(0, 125, 228), rgb(112, 207, 255));
    border-radius: 25px;
    transform: translateY(-1px);
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 1, 40);
    /* background: black; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Montserrat';
}

p {
    font-family: 'Montserrat';
}

h1 {
    color: white;
    font-size: 3.25rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

h2 {
    margin: 5px 0px;
}

h3 {
    color: white
}

h4 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    opacity: 75%;
}

.full-width {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: rgba(0, 0, 0, 0.90);
    top: 0;
    left: 0;
}

header {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 22;
    padding: 25px;
}

nav {
    display: flex;
    color: white;
    justify-content: center;
}

nav li {
    margin-left: 50px;
    list-style-type: none;
    margin-bottom: 8px;
    font-weight: 500;
}

.expand-btn {
    width: 12px;
    height: 7px;
    margin-left: 5px;
    transform: translateY(-3px);
}

nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* .hidden-objects {
    display: none;
} */

.objects-menu-container {
    height: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.objects-menu-container:hover {
    height: 150px
}

/* #moon-menu {
    display: none;
} */

.earth-menu-container {
    height: 20px;
    overflow: hidden;
    transition: .5s;
}


.earth-menu-container:hover {
    height: 50px;
}

.earth-menu-container:hover~.expand-btn {
    transform: rotate(180deg);
}

.explorers-menu-container {
    display: none;
}

.planet-modal {
    width: 90vw;
    height: 95vh;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 50px 0px 50px;
    z-index: 55;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    transition: 0.4s;
}

.close-btn p {
    font-size: 40px;
    font-weight: 500;
}

.close-btn:hover {
    cursor: pointer;
    transform: rotate(180deg);
}



.top-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flex-row {
    display: flex;
    align-items: center;
    height: 100%;
}

.planet-image-container {
    width: 50%;
    height: 100%;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* position: absolute; */
    /* background-color: black; */
    /* background-image: url("./assets/black-bg.png"); */
    /* background-image: url("./assets/purple-bg.png"); */
    background-size: cover;
    /* left: 0;
    top: 0; */
    z-index: 93;
    position: relative;
    overflow: hidden;
}

#planet-expand-close-btn {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 140;

}

#planet-close-btn {
    font-size: 40px;
    font-weight: 500;
    color: white;
    transition: 0.4s;
}

#planet-close-btn:hover {
    cursor: pointer;
    transform: rotate(180deg);
}



#planet-image {
    height: 100%;
    width: 100%;
}

.planet-info-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* padding: 50px 0px; */
    padding-bottom: 30px;
    padding-left: 15px;
}

.content-overflow {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-overflow::-webkit-scrollbar {
    display: none;
}

.planet-info-cont {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.planet-info-container p {
    font-family: 'montserrat';
    font-weight: 400;
    line-height: 25px;
    font-size: 1.1rem;
    color: rgb(215, 214, 214);
    letter-spacing: 0.8px;

}

/* #planet-info-five {
    margin-bottom: 50px;
} */
.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-toggle {
    display: block;
    text-decoration: none;
    border: none;
    text-align: center;
    border-radius: 25px;
    padding: 5px 15px;
    overflow: hidden;
    color: white;


    border: 1px solid white;
}

#adult-toggle,
#child-toggle {
    font-size: 0.9rem;
    font-weight: 500;
}

.active-page {
    background: white;
    color: black !important;
    border: 1px solid white;
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0.75px solid rgba(255, 255, 255, 0.622);
    padding: 25px
}






.planet-trail {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    animation: trailfade 1s linear;
    animation-iteration-count: 1
}

@keyframes trailfade {

    100% {
        opacity: 0%;
        width: 0.5px;
        height: 0.5px;
    }
}



.star {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation-iteration-count: 1;

}



.star-map {
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.twinkle {
    animation: twinkle 5s linear infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
    }

    47% {
        opacity: 0.3;
    }

    50% {
        opacity: 1
    }

    53% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.2;
    }
}

.comet {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    animation: cometMoveRight 20s linear;
    animation-iteration-count: 1;
    position: absolute;
}

.asteroid {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    animation: cometMoveLeft 4s linear;
    animation-iteration-count: 1;
    position: absolute;
}

@keyframes cometMoveRight {

    100% {
        transform: translateX(190vw);
    }
}

@keyframes cometMoveLeft {

    100% {
        transform: translateX(-150vw);
        opacity: 0%
    }
}


.content-container {
    display: flex;
    z-index: 3;
    color: white;
    width: 100%;
    height: 100%;
}

.controls-container {
    width: 250px;
    background: red;
    height: 100%;
}

.active-orbit {
    border: none;
    color: white;
    /* padding: 0px 25px; */
    transition: opacity 0.5s;
    background: linear-gradient(rgb(0, 125, 228), rgb(112, 207, 255));
    opacity: 1;
    border-bottom: 3px solid rgb(57, 163, 250);
}

.active-orbit:hover {
    cursor: pointer;
    background: linear-gradient(rgb(112, 207, 255), rgb(0, 125, 228))
}

.music-btn {
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(222, 222, 222);
    text-align: center;
    border-radius: 8px;
    padding: 8px 20px;

}

.music-btn:hover {
    background-color: rgb(225, 225, 225);
}

.music-btn img {
    height: 20px;
    
}


.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.orbit-controls-container {
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 3s;
}


.orbit-control:hover {
    cursor: pointer;
}

.planet-hover-info-container {
    background: #0000001e;
    color: white;
    position: absolute;
    left: 25px;
    bottom: 15px;
    padding: 20px 10px;
    border: 0.5px solid rgb(112, 207, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateX(-250px);
    transition: 0.8s;
    opacity: 0;
    width: 250px;
    box-shadow: 0px 0px 10px 3px rgb(112, 207, 255);
    z-index: 10;
    animation: pulsate 3s linear infinite;
}

.planet-hover-info-container-move {
    display: flex;
    opacity: 1;
    transform: translateX(0px);
}

.planet-hover-info-container img {
    height: 100px;
}

@keyframes pulsate {

    50% {
        box-shadow: 0px 0px 10px 0px rgb(112, 207, 255, 0.35);
        border: 0.5px solid rgba(112, 207, 255, 0.35);
    }
}

/* =========================================================================================================================================================== 

=====================================================   Start Quiz Section    ======================================================================

================================================================================================================================================================================= */

.quiz-btn {
    /* position: absolute;
    bottom: 0 */
}

.quiz-modal-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    opacity: 0;
    transition: opacity 3s;
}

.quiz-modal {
    width: 100%;
    max-width: 800px;
    background: rgba(1, 0, 24, 0.85);
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    
    padding: 50px 50px 75px 50px;
    padding: 0px; 
    height: 80vh;
    gap: 50px;
    /* box-shadow: 0px 0px 25px -5px rgb(0, 208, 255); */
    border: 0.5px solid rgb(112, 207, 255);
    box-shadow: 0px 0px 10px 3px rgb(112, 207, 255);
    width: 0vh;
    height: 0vh;
    transition: height 3.5s linear, width 3.5s linear, opacity 3.5s linear, padding 3.5s linear;
    opacity: 1;
    animation: pulsate 6s linear infinite;
}

.close-quiz-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-quiz-btn:hover {
    cursor: pointer;
    transition: 0.6s;
    transform: rotate(180deg);
}

.quiz-content {
    opacity: 0;
    transition: opacity 0.5s ease;
}


.quiz-modal-animation {
    width: 100%;
    height: 80vh;
    opacity: 1;
    padding: 50px 50px 75px 50px;
}


.quiz-sun {
    background: radial-gradient(circle, rgb(255, 174, 0), orange, #fde025 75%);
    width: 650px;
    aspect-ratio: 1 /1 ;
    border-radius: 50%;
    position: absolute;
    top: 87%;
    left: 50;
    box-shadow: 0px 0px 15px 5px #fde025;
    opacity: 0;
    transition: opacity 0.5s ease 1s;
}

.sun-move {
    transition: top 5s linear;
    top: 125%;
}



.quiz-destination {
    position: absolute;
    z-index: 5;
    width: 550px;
    aspect-ratio: 1 /1 ;
    border-radius: 50%;
    left: 50;
    top: 77%;
    transform: translateY(400px);
    transition: transform 5s linear;
}

.move-up {
    transform: translateY(0px);
}

.landing-rocket-container {
    position: absolute;
    z-index: 50;
    bottom: 40px;
    transition: transform 8s;
    transform: translateY(-100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flame {
    width: 53px;
    transform: translateY(-20px);
    opacity: 0;
}

.flame-on {
    opacity: 1;
}

.flame-animation {
    animation: flameFlicker 8s;
}



.landing-rocket {
    width: 150px;
}



@keyframes flameFlicker {
    0% {
        opacity: 0;
    }

    29% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 1;
    }

    37% {
        opacity: 0;
    }

    39% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    47% {
        opacity: 0;
    }

    55% {
        opacity: 0;
    }

    56% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    61% {
        opacity: 0;
    }

    69% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    77% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    81% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    97% {
        opacity: 0
    }

    98% {
        opacity: 1;
    }
}

.move-down {
    transform: translateY(0px);
}

.win-quiz-statement {
    text-align: center;
    opacity: 0;
    padding: 100px 25px 25px 25px;
    position: absolute;
    transition: 5s;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    top: 0;
    left: 0;
    height: 100%;
}

.win-quiz-statement h2 {
    font-size: 4rem;
}

.fade-in {
    opacity: 1;
    z-index: 10;
}

.quiz-progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
}

.quiz-btn-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.question-number-statement {
    opacity: 0.75;
}

.quiz-question {
    margin-bottom: 40px;
    font-size: 2.4rem;
}

.quiz-answer {
    flex: 1;
    min-width: 250px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat';
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background: none;
    border-radius: 50px;
}

.quiz-answer:hover {
    background: white;
    color: black;
}

.active-answer {
    background: rgb(68, 9, 184);
    border: 1px solid rgb(68, 9, 184);
}

.active-answer:hover {
    background: rgb(68, 9, 184);
    border: 1px solid rgb(68, 9, 184);
    color: white;
}

.correct-answer {
    background: rgb(0, 186, 12);
    border: 1px solid rgb(0, 186, 12);
    color: white;
    animation: correctAnimate 0.4s linear;
}

@keyframes correctAnimate {
    10% {
        transform: scale(1.05) rotate(0deg);
    }

    30% {
        transform: scale(1.05) rotate(2deg);
    }

    50% {
        transform: scale(1.05) rotate(-4deg);
    }

    70% {
        transform: scale(1.05) rotate(2deg);
    }

    90% {
        transform: scale(1.05) rotate(0deg);
    }
}


.wrong-answer {
    background: rgb(191, 0, 0);
    border: 1px solid rgb(191, 0, 0);
    color: white;
}

.quiz-answer-btn {
    flex: 1;
    min-width: 250px;
    max-width: 250px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    border-radius: 50px;
    font-family: 'Montserrat';
    cursor: pointer;
    color: white;
    /* border: 1px solid white; */
    background: linear-gradient(rgb(0, 125, 228), rgb(112, 207, 255)); 
}


.quiz-earth {
    width: 75px;
}


.quiz-moon {
    width: 50px;
}

.rocket-progress {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

}

.quiz-rocket-line {
    width: 0%;
    display: flex;
    justify-content: flex-end;
    overflow: visible;
    background-color: rgb(0, 242, 255);
    box-shadow: 0px 0px 15px 3px rgb(0, 208, 255);
    height: 6px;
    transition: width 2s linear;
}

.quiz-rocket {
    width: 50px;
    position: absolute;
    left: 0%;
    transition: left 2s linear;
}

.full-opacity {
    opacity: 1;
}

.fade-out {
    transition: 3s;
    opacity: 0;
}

/* =============== End Quiz Section ================ */




/* =========================== The Planets ========================== */
#sun {

    background: radial-gradient(circle, rgb(255, 174, 0), orange, #fde025 75%);
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
    top: 45vh;
    left: 47vw;
    z-index: 5;
    box-shadow: 0px 0px 15px 5px #fde025;
    /* display: none; */
    animation: index 9s linear infinite;
    animation-play-state: paused;
}


.rotate {
    /* background: none; */
    transform: rotate(-110deg);
    /* pointer-events: none; */
    animation: rotate 1s linear infinite;
}

.slide {
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    animation: slide 1s ease-in-out infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 33px;
    width: 33px;
    /* background: none; */
    transform: translateX(-4vw) translateY(2vw);
    ;
    z-index: 5;
    /* pointer-events: none; */
    animation-play-state: paused;
}

.planet {
    border-radius: 50%;
    z-index: 7;
    overflow: hidden;
    animation: spin 1s infinite linear;
}

.planet:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgb(112, 207, 255));
}

/* .planet:hover {
    box-shadow: 0px 0px 15px 5px #fde025;
} */

.shadow-rotate {
    border-radius: 50%;
    animation: shadowSpin 1s infinite linear;
}

.shadow-rotate:hover {
    cursor: pointer;
}

#mercury {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-image: url("./assets/planets/mercury.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.mercury-planet {
    transform: rotate(110deg);
}

#mercury-slide {}

.mercury-slide {
    animation-duration: 4.5s;
}

.mercury-planet,
.mercury-rotate,
.mercury-shadow {
    animation-duration: 9s;
}

#mercury-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.4vw 0px 0 0px #00000083;
}

.mercury-rotate {
    height: 6vw;
    width: 6vw;
}



#venus {
    width: 2vw;
    height: 2vw;
    background-image: url("./assets/planets/venus.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 41;
}

.venus {
    transform: rotate(110deg);
}

.venus-slide {
    animation-duration: 6s;
}

.venus,
.venus-rotate,
.venus-shadow {
    animation-duration: 12s;
}


#venus-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset .4vw 0px 0 0px #00000083;
    z-index: 8
}

.venus-rotate {
    height: 12vw;
    width: 12vw;
}



#earth {
    width: 3vw;
    height: 3vw;
    background-image: url("./assets/planets/earth.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100 !important;
    overflow: visible;

}

.earth {
    transform: rotate(110deg);
    /* animation: earthSpin 16.8s linear infinite; */
}

#earth-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.6vw 0px 0 0px #00000083;
}

.earth-rotate {
    height: 20vw;
    width: 20vw;
}

.earth-slide {
    animation-duration: 8.4s;
}

.earth,
.earth-rotate,
.earth-shadow {
    animation-duration: 16.8s;
}

#moon {
    width: 0.8vw;
    height: 0.8vw;
    background: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("./assets/planets/moon.png");
}

.moon-rotate {
    height: 4.2vw;
    width: 4.2vw;
    transform: rotate(110deg);
    animation: spin 4s linear infinite;
    position: absolute;
    color: red;
}

.moon {
    border-radius: 50%;
    z-index: 7;
    overflow: hidden;
    transform: rotate(-110deg);
}

.moon-shadow {
    animation: moonShadow 4s linear infinite;
    border-radius: 50%;
}

#moon-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.2vw 0px 0 0px #00000083;
}

#mars {
    width: 2.5vw;
    height: 2.5vw;
    overflow: hidden;
    background-image: url("./assets/planets/mars.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mars {
    transform: rotate(110deg);
}

#mars-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.5vw 0px 0 0px #00000083;
}

.bg {
    width: 100%;
    height: 100%;
    transform: translateY(5px);
    border-radius: 50%;
    ;
}


.mars-rotate {
    height: 26vw;
    width: 26vw;
}

.mars-slide {
    animation-duration: 11.4s;
}

.mars,
.mars-rotate,
.mars-shadow {
    animation-duration: 22.8s;
}


#saturn-shadow {
    width: 7vw;
    height: 7vw;
    box-shadow: inset 2vw 0px 0 0px #00000083;
    position: absolute;
    top: 0px;
    right: 1.5vw;
}

#saturn {
    height: 7vw;
    width: 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

.saturn {
    transform: rotate(110deg);
}

#saturn img {
    width: 100%;
    height: 100%;
}

.saturn-rotate {
    height: 58vw;
    width: 58vw;
}

.saturn-slide {
    animation-duration: 30s;
}

.saturn,
.saturn-rotate,
.saturn-shadow {
    animation-duration: 60s;
}

.shadow-rotate {
    width: 100%;
    height: 100%;
    transform: rotate(-25deg);
}


#jupiter {
    width: 8vw;
    height: 8vw;
    background-image: url("./assets/planets/jupiter.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jupiter {
    transform: rotate(110deg);
}

#jupiter-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 2vw 0px 0 0px #00000083;

}

.jupiter-rotate {
    height: 41vw;
    width: 41vw;
}

.jupiter-slide {
    animation-duration: 18s;
}

.jupiter,
.jupiter-rotate,
.jupiter-shadow {
    animation-duration: 36s;
}



#uranus {
    width: 7vw;
    height: 5vw;
    overflow: visible;
}

.uranus {
    transform: rotate(110deg);
}

#uranus img {
    width: 100%;
    height: 100%;
}

#uranus-shadow {
    width: 5.2vw;
    height: 5.2vw;
    box-shadow: inset 2.8vw 0px 0 -17px #00000083;
    position: absolute;
    top: 0px;
    right: 0.8vw;
}

.uranus-slide {
    animation-duration: 42s;
}

.uranus,
.uranus-rotate,
.uranus-shadow {
    animation-duration: 84s;
}

/* #uranus-shadow:hover {
    cursor: pointer;
} */

.uranus-rotate {
    height: 70vw;
    width: 70vw;
    z-index: 2
}

#neptune {
    width: 4vw;
    height: 4vw;
    background-image: url("./assets/planets/neptune.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.neptune {
    transform: rotate(110deg);
}

#neptune-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0.8vw 0px 0 0px #00000083;
}

.neptune-rotate {
    height: 85vw;
    width: 85vw;
    z-index: 1
}

.neptune-slide {
    animation-duration: 60s;
}

.neptune,
.neptune-rotate,
.neptune-shadow {
    animation-duration: 120s;
}

.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.display-none {
    display: none;
}

.hidden {
    display: none
}

.rotate,
.slide,
.shadow-rotate,
.planet {
    animation-play-state: paused;
}



@keyframes slide {


    100% {
        transform: translateX(4vw) translateY(-2vw);


    }

}

/* @keyframse enlarge {
    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.5);
    }

    
    100% {
        transform: scale(1);
    }
  } */




@keyframes rotate {


    100% {
        transform: rotate(250deg);
        -webkit-transform: rotate(250deg);
    }
}

@keyframes spin {

    100% {
        transform: rotate(-250deg);
        -webkit-transform: rotate(-250deg);
    }
}


@keyframes shadowSpin {

    100% {
        transform: rotate(335deg);
        -webkit-transform: rotate(335deg);
    }
}

@keyframes index {
    0% {
        z-index: 7
    }

    45% {
        z-index: 7
    }

    50% {
        z-index: 1
    }


    90% {
        z-index: 1;
    }

    100% {

        z-index: 1
    }
}

/***** Responsiveness ******/
@media only screen and (max-width: 1000px) {
    #mobile-modal {
        display: flex;
    }

    .desktop-nav {
        display: none;
    }

    .flex-row {
        flex-direction: column;
    }

    .bottom-container {
        flex-wrap: wrap;
    }



}